{% include 'base/head.twig' %}

<main>
    {% include 'base/menu.twig' %}

    <section class="section-principal">
        <section>
            <h1> Pagamento {{ pagamento.mes }}/{{ pagamento.ano }} </h1>
            <h3> Colaborador: {{ pagamento.nome }} ({{ pagamento.cargo }}) </h3>

            {% if is_admin %}
                <a href="/pagamento/edit/{{ pagamento.id }}" class="botao-primario btn-pagamento-editar"> <i class="fa-solid fa-pen"></i> </a>
            {% endif %}
        </section>

        <table>
            <thead>
                <tr>
                    <th class="w-75"> Descrição </th>
                    <th class="w-25"> Valor </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> Salário base </td>
                    <td class="text-end texto-positivo"> R$ {{ detalhes.salario_base }} </td>
                </tr>

                <tr>
                    <td> Bônus </td>
                    <td class="text-end texto-positivo"> R$ {{ detalhes.bonus }} </td>
                </tr>

                <tr>
                    <td> Descontos </td>
                    <td class="text-end texto-negativo"> -R$ {{ detalhes.descontos }} </td>
                </tr>

                <tr>
                    <td> Total </td>
                    <td class="text-end"> R$ {{ detalhes.total }} </td>
                </tr>
            </tbody>
        </table>

        <section>
            <form method="post" action="/pagamento/comentar" class="pagamento-form">
                <input type="hidden" name="pagamento_id" value="{{ pagamento.id }}">

                <label for="input-pagamento-comentario"> Algum problema? </label>
                <small> Caso tenha algo errado com o seu pagamento ou com os valores, nos conte aqui, para resolvermos o mais rápido possível</small>
                <textarea name="comentario" id="input-pagamento-comentario" rows="5"></textarea>

                <button type="submit" class="mt-1"> Enviar </button>
            </form>

            <section>
                {% for comentario in comentarios %}
                    <div class="comentario">
                        <p class="comentario-autor"> {{ pagamento.nome }} </p>

                        <small> Adicionado em: {{ comentario.data_criacao }} </small>

                        <p> {{ comentario.texto|raw }} </p>
                    </div>
                {% endfor %}
            </section>
        </section>

        <a href="/pagamento" class="botao-secundario mb-5"> Voltar </a>
    </section>
</main>
