{% include 'base/head.twig' %}

<main class="home">
    {% include 'base/menu.twig' %}

    <section class="section-principal">
        <h1> Usuários </h1>

        <table>
            <thead>
            <tr>
                <th> Nome </th>
                <th> Cargo </th>
                <th> CPF </th>
                <th> E-mail </th>
                <th> Telefone </th>
                <th> Ações </th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td> {{ usuario.nome }} </td>
                    <td> {{ usuario.cargo }} </td>
                    <td> {{ usuario.cpf }} </td>
                    <td> {{ usuario.email }} </td>
                    <td> {{ usuario.telefone }}</td>
                    <td class="text-center"> <a href="/colaborador/edit/{{ usuario.id }}"> Editar </a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>
