{% include 'base/head.twig' %}

<main class="home">
    {% include 'base/menu.twig' %}

    <section class="section-principal">
        {% if is_admin %}
            <h1> Pagamentos </h1>

            <table>
                <thead>
                <tr>
                    <th> Colaborador </th>
                    <th> Cargo </th>
                    <th> Mês/Ano </th>
                    <th> Valor </th>
                    <th> Ações </th>
                </tr>
                </thead>
                <tbody>
                {% for pagamento in pagamentos %}
                    <tr>
                        <td> {{ pagamento.colaborador_nome }} </td>
                        <td> {{ pagamento.colaborador_cargo }} </td>
                        <td> {{ pagamento.mes }}/{{ pagamento.ano }} </td>
                        <td> R$ {{ pagamento.valor }} </td>
                        <td> Editar/contestar </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1> Meus Pagamentos </h1>

            <table>
                <thead>
                <tr>
                    <th> Mês/Ano </th>
                    <th> Valor </th>
                    <th> Ações </th>
                </tr>
                </thead>

                <tbody>
                {% for pagamento in pagamentos %}
                    <tr>
                        <td> {{ pagamento.mes }}/{{ pagamento.ano }} </td>
                        <td> R$ {{ pagamento.valor }} </td>
                        <td> Contestar </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
</main>
